.empty-box{
    width: 650px;              
    height: 400px;              /* Set height of the box */
    border: 4px solid #333;     /* Add a border */
     
    
}
button{
    width: 100px;
    height: 50px;
    margin: 5px;
    
    
}

.times new { font-family: 'Times New Roman', Times, serif; }